@import 'material-icons/iconfont/material-icons.css';

.action-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.edit-button,
.delete-button {
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.edit-button {
    background-color: #3498db;
    color: #fff;
}

.delete-button {
    background-color: #e74c3c;
    color: #fff;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #2980b9;
}

/* ================= list ================ */

.container {
    padding: 20px;
}

.list {
    position: relative;
    display: grid;
    width: 100%;
    margin-top: 10px;
    min-height: 450px;
    background: #FBFBFB;
    padding: 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.list .table-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 100px;
}

.table-header .title{
    font-size: 18px;
}

.search-export{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btn-export{
    cursor: pointer;
    width: 60px;
    height: 25px;
    border: none;
    border-radius: 5px;
    font-weight: 300;
    background: #6496F7;
    color: #fff;
}

.filters{
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.sort-by {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    background: #6496F7;
    color: #fff;
    border: none;
    font-size: 12px;
    font-weight: 300;
    border-radius: 3px;
}

.search {
    position: relative;
    width: 400px;
    margin: 0;
}

.search label {
    position: relative;
}

.search label input {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 5px 15px;
    font-size: 16px;
    background-color: var(--white-2);
}

.search label .icon {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 92%;
    right: 20px;
    transform: translateY(-10%);
    height: 20px;
    color: var(--black);
}

.table-search {
    width: 20%;
    border-radius: 6px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.table-search label input {
    border: 0.15px solid var(--grey2);
    background: var(--grey);
}

.table-search label .icon {
    font-size: 23px;
    left: 85%;
}

.list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.list table thead td {
    font-weight: 600;
}

.list table tbody tr {
    color: var(--black);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
}

.list table tbody tr:hover {
    background: var(--white-bg);
}

.list table tbody tr td,
.list table thead tr td {
    padding: 10px;
    text-align: center;
}

.list table tbody tr td {
    margin-top: 10px;
}