<div class="list">
  <div class="table-header">
    <div class="item-count">
      <h2>216</h2>
      Users
    </div>
    <div class="sort-by">
      <span>Sort By:</span>
      <!-- i want dropdown list -->
      <select class="sort-by">
        <option value="newest">Newest</option>
        <option value="oldest">Oldest</option>
        <option value="name">Name</option>
        <option value="company">Company</option>
        <option value="city">City</option>
        <option value="product">Product</option>
        <option value="subscription">Subscription</option>
      </select>
    </div>
    <div class="search table-search">
      <label>
        <input type="text" placeholder="Search" />
        <mat-icon class="icon" aria-label="Example home icon" fontIcon="search">
        </mat-icon>
      </label>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <td>Basic info</td>
        <td>Company</td>
        <td>Phone</td>
        <td>City</td>
        <td>Product</td>
        <td>Subscription</td>
      </tr>
    </thead>
    <tbody *ngFor="let user of users" (click)="navigateToUserProfile(user.id)">
      <tr>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.city }}</td>
        <td>{{ user.product }}</td>
        <td><span class="subscription pro">pro</span></td>
      </tr>
    </tbody>
  </table>
</div>
