<h1>Code is commented out because it has errors in the moment.</h1>
<h2>
  you find it here
  <b>client\src\app\pages\dashboard\dashboard.component.html</b>
</h2>
<!-- <div class="main" style="padding-left: 3%">
  <div style="display: flex; padding-top: 3%; justify-content: space-evenly">
    <div style="display: flex; flex-direction: column">
      <app-welcome></app-welcome>
      <div style="display: flex">
        <app-order-status></app-order-status>
        <app-product-in-stock></app-product-in-stock>
      </div>
      <app-customer-reviews></app-customer-reviews>
    </div>
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      "
    >
      <app-tasks-calendar></app-tasks-calendar>
      <app-total-income></app-total-income>
    </div>
  </div>
</div> -->
