<div class="navigation">
  <ul>
    <li>
      <span class="logo">
        <img src="../../../assets/img/logo-white.png" alt="logo instar" />
      </span>
    </li>
    <li>
      <a routerLink="/provider/dashboard">
        <span class="material-icons icon">grid_view</span>
        <span class="title">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/provider/stats">
        <span class="material-icons icon">insights</span>
        <span class="title">Statistics</span>
      </a>
    </li>
    <li>
      <a routerLink="/provider/products">
        <span class="material-icons icon">inventory_2</span>
        <span class="title">Products</span>
      </a>
    </li>
    <li>
      <a routerLink="/provider/sales">
        <span class="material-icons icon">real_estate_agent</span>
        <span class="title">Sales</span>
      </a>
    </li>

    <li>
      <a routerLink="/provider/requests">
        <span class="material-icons icon">sms</span>
        <span class="title">Requests</span>
      </a>
    </li>
    <li class="logout">
      <a routerLink="/login">
        <span class="material-icons icon">logout</span>
        <span class="title">Log out</span>
      </a>
    </li>
  </ul>
</div>
<script>
  // add hovered class to selected list item
  let list = document.querySelectorAll(".navigation li");

  function activeLink() {
    list.forEach((item) => {
      item.classList.remove("hovered");
    });
    this.classList.add("hovered");
  }

  list.forEach((item) => item.addEventListener("mouseover", activeLink));

  //menu toggle

  let toggle = document.querySelector(".toggle");
  let navigation = document.querySelector(".navigation");
  let main = document.querySelector(".main");

  menuToggle.onclick = function () {
    toggle.classList.toggle("active");
    navigation.classList.toggle("active");
    main.classList.toggle("active");
  };
</script>
