.auth-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
/* ======== left section ======== */

.left-section {
    background:
        linear-gradient(150deg,
            #203756 -0.72%,
            #162943 32.27%,
            #010C1B 68.18%);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    flex: 1;
}

.left-content {
    width: 60%;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text {
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.next {
    margin-bottom: 20px;
    font-size: 42px;
    color: rgba(100, 150, 247, 0.65);
}

.title {
    color: #FFF;
    margin-bottom: 35px;
    width: 50%;
    line-height: 130%;
}

.description {
    color: #6496F7;
    display: flex;
    font-weight: 600;
    font-size: 16px;
    gap: 50px;
}

.dots {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logo {
    width: 120px;
    height: 100%;
    margin-top: 1rem;
    /* margin-bottom: -150px; */
}

/* ======== right section ======== */

.register-section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    text-align: center;
    flex: 0.5;
}

.register-card {
    flex-direction: column;
    /* max-width: 700px; */
    width: 100%;
    background-color: #fff;
    padding-left: 5px;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.register-card .title {
    font-size: 25px;
    font-weight: 500;
    display: block;
    position: relative;
    height: 100%;
}

.register-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register-content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #9b59b6;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    background: #9b59b6;
    border-color: #d9d9d9;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 35px 0
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .register-content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .register-content .category {
        flex-direction: column;
    }
}

.error-message{
    color: rgb(216, 36, 36);
}

@media screen and (min-width: 1025px) and (max-width: 1920px) {
    .auth-container {
        width: auto;
    }
  .register-section {
    
    width: auto;
    flex: 1;
    height: auto;
  }
}