<div class="auth-container">
  <div class="left-section">
    <app-auth-illustration></app-auth-illustration>
  </div>
  <div class="login-section">
    <div class="login-card">
      <div class="login-title text">
        <p>Welcome to</p>
        <p class="d">Instar</p>
      </div>
      <p class="login-desc text">
        We provide a user-friendly platform that empowers everyone to optimize
        their augmented reality experience
      </p>
      <!-- <div class="status-bar">
        <div class="l" [ngClass]="{ b: isEmailFilled }"></div>
        <div class="l" [ngClass]="{ b: isPasswordFilled }"></div>
        <div class="l" [ngClass]="{ b: isPasswordFilled }"></div>
        <div class="l" [ngClass]="{ b: isPasswordFilled }"></div>
        <div class="l" [ngClass]="{ b: isPasswordFilled }"></div>
        <div class="l" [ngClass]="{ b: isPasswordFilled }"></div>
      </div> -->
      <form (ngSubmit)="register()" class="login-form">

        <label class="label">First Name</label>
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="username"
            (ngModelChange)="checkUserNameField()"
            placeholder="Username"
            class="form-control"
            name="username"
          />
          <div class="email-error login-error" *ngIf="emailWarning">
            {{ emailWarning }}
          </div>
        </div>

        <label class="label">Last Name</label>
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="username"
            (ngModelChange)="checkUserNameField()"
            placeholder="Username"
            class="form-control"
            name="username"
          />
          <div class="email-error login-error" *ngIf="emailWarning">
            {{ emailWarning }}
          </div>
        </div>

        <label class="label">Email</label>
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="email"
            (ngModelChange)="checkEmailField()"
            placeholder="Email"
            class="form-control"
            name="email"
          />
          <div class="email-error login-error" *ngIf="emailWarning">
            {{ emailWarning }}
          </div>
        </div>
        <label class="label">Phone Number</label>
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="phone"
            (ngModelChange)="checkPhoneNumberField()"
            placeholder="Phone Number"
            class="form-control"
            name="phone"
          />
          <div class="email-error login-error" *ngIf="emailWarning">
            {{ emailWarning }}
          </div>
        </div>

        <label class="label">Password</label>
        <div class="form-group">
          <input
            type="password"
            [(ngModel)]="password"
            (ngModelChange)="checkPasswordField()"
            placeholder="Password"
            class="form-control"
            name="password"
          />
        </div>
        <label class="label">Confirm Password</label>
        <div class="form-group">
          <input
            type="password"
            [(ngModel)]="password"
            (ngModelChange)="checkPasswordField()"
            placeholder="Confirm Password"
            class="form-control"
            name="password"
          />
        </div>
        <div class="bs">
          <button type="submit" class="btn-primary">Register</button>
          <div class="forget-password">
            Already a member?
            <a routerLink="/login">Login now</a>
          </div>
        </div>
      </form>
      <div class="login-error" *ngIf="registerError">{{ registerError }}</div>
      <div class="login-link text"></div>
    </div>
  </div>
</div>
