<div class="user-container">
  <!-- left row -->

  <div class="left-row">
    <div class="user-details card">
      <div class="basic-info">
        <div class="name-card">
          <img
            class="user-img"
            src="../../../assets/img/users/user1.jpg"
            alt=""
          />
          <div class="user-name">Achref Maarfi</div>
          <div class="user-email">achref@gmail.com</div>
        </div>

        <div class="status">
          <div class="product">
            <div class="product-count">17</div>
            <div class="prod">Product</div>
          </div>
          <div class="pending">
            <div class="pending-count">5</div>
            <div class="pen">Pending</div>
          </div>
        </div>
      </div>
      <div class="more-info">
        <div class="info">
          <div class="title">Phone</div>
          <div class="value">+216 22 22 22 22</div>
        </div>
        <div class="info">
          <div class="title">Address</div>
          <div class="value">Tunis, Tunisia</div>
        </div>
        <div class="info">
          <div class="title">Joined</div>
          <div class="value">January 7, 2021</div>
        </div>
        <div class="info">
          <div class="title">Phone</div>
          <div class="value">+216 22 22 22 22</div>
        </div>
        <div class="info">
          <div class="title">Address</div>
          <div class="value">Tunis, Tunisia</div>
        </div>
        <div class="info">
          <div class="title">Joined</div>
          <div class="value">January 7, 2021</div>
        </div>
        <div class="info">
          <div class="title">Address</div>
          <div class="value">Tunis, Tunisia</div>
        </div>
        <div class="info">
          <div class="title">Joined</div>
          <div class="value">January 7, 2021</div>
        </div>
      </div>
    </div>

    <!-- monthly income -->

    <div class="monthly-income card">
      <div class="title-box">
        <div class="title">Monthly Income</div>
        <div class="more-button">
          <span class="material-icons icon">more_vert</span>
        </div>
      </div>
      <div class="yearly-income-chart">
        <canvas id="yearlyIncomeChart"></canvas>
      </div>
    </div>
  </div>

  <!-- right row -->

  <div class="right-row">
    <!-- conversion -->

    <div class="best-product card">
      <div class="sub-box">
        <div class="title-box">
          <div class="title">Best selling product</div>
          <div class="more-button">
            <span class="material-icons icon">more_vert</span>
          </div>
        </div>
      </div>
      <img
        class="product-img"
        src="../../../assets/img/products/chair1.png"
        alt=""
      />
    </div>

    <!-- cards grid -->

    <div class="total-income card">
      <div class="title-box">
        <div class="title">Total Income</div>
        <div class="number">123.548.12 $</div>
      </div>
      <div class="total-income-chart">
        <canvas id="totalIncomeChart"></canvas>
      </div>
    </div>
  </div>
</div>
