<div
  style="
    padding: 5%;
    margin-bottom: 3%;
    margin-top: 3%;

    width: 39.5rem;
    height: 8.3125rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #242529;
    display: flex;
    align-items: center;
  "
>
  <!-- <div style="background: url('./assets/images/Animated.svg'), lightgray -229.333px -41px / 404.694% 177.756% no-repeat;"> -->
  <!-- </div> -->
  <div style="display: flex; flex-direction: column"></div>
  <div
    style="
      color: #edf5ff;
      font-family: Montserrat;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-left: 23%;
      margin-bottom: 15%;
    "
  >
    Customers Reviews
  </div>
</div>
