<div
  style="
    padding: 5%;
    margin-bottom: 3%;

    width: 39.5rem;
    height: 8.3125rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #242529;
    display: flex;
    align-items: center;
  "
>
  <div
    style="
      color: #fbfbfb;
      font-family: Montserrat;
      font-size: 1rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    "
  >
    Welcome Back!
  </div>
  <img
    style="margin-bottom: 9%"
    src="./assets/images/animated.png"
    alt="Logoll"
  />

  <!-- <div style="background: url('./assets/images/Animated.svg'), lightgray -229.333px -41px / 404.694% 177.756% no-repeat;"> -->
  <!-- </div> -->
  <div style="display: flex; flex-direction: column">
    <span
      style="
        color: #fff;
        font-family: Montserrat;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
      "
    >
      Hi, Med Aziz!
    </span>
    <span style="color: #fff">
      You have 2 new orders, Let’s check it out?
    </span>
    <span
      style="
        color: #9095ff;
        font-family: Montserrat;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration-line: underline;
      "
    >
      review
    </span>
  </div>
  <div
    style="
      color: #edf5ff;
      font-family: Montserrat;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-left: 23%;
      margin-bottom: 15%;
    "
  >
    ...
  </div>
</div>
