<div
  style="
    width: 19.9375rem;
    height: 15rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #35363d;
    padding: 4%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
  "
>
  <div style="display: flex">
    <span
      style="
        color: #edf5ff;
        font-family: Montserrat;
        font-size: 1rem;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
      "
      >Total Income</span
    >
    <span
      style="
        color: #edf5ff;
        font-family: Poppins;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 600;
        margin-left: 20%;
        line-height: normal;
      "
    >
      ...
    </span>
  </div>
  <span
    style="
      color: #edf5ff;
      font-family: Montserrat;
      font-size: 1rem;
      font-style: normal;
      font-weight: 100;
      line-height: normal;
    "
    >120,956 .051 Dt
  </span>
  <svg
    style="
      stroke-width: 2px;
      stroke: #9095ff;
      width: 17.80119rem;
      height: 4.4375rem;
      flex-shrink: 0;
    "
    xmlns="http://www.w3.org/2000/svg"
    width="287"
    height="73"
    viewBox="0 0 287 73"
    fill="none"
  >
    <path
      d="M286 13.5166C262.23 13.8831 263.266 58.9452 244.006 58.9452C224.747 58.9452 228.453 36.5 209.013 36.5C189.572 36.5 198.644 72 174.019 72C149.394 72 162.355 1 139.026 1C115.697 1 127.361 44.6421 104.032 44.6421C80.703 44.6421 91.0715 13.5166 69.0385 13.5166C47.0056 13.5166 53.4859 64.1098 35.3411 64.1098C17.9869 64.1098 18.4146 41.0463 1.41034 39.0308M1.41034 39.0308C0.611193 38.9372 2.21648 39.0287 1.41034 39.0308Z"
      stroke="#9195FF"
      stroke-width="2"
      stroke-miterlimit="10"
    />
  </svg>
  <div style="display: flex">
    <svg
      style="fill: #fffefe; width: 0.9375rem; height: 0.75rem; flex-shrink: 0"
      xmlns="http://www.w3.org/2000/svg"
      width="15"
      height="12"
      viewBox="0 0 15 12"
      fill="none"
    >
      <path
        d="M6.652 1.3568C7.04367 0.73013 7.95633 0.730129 8.348 1.3568L14.0438 10.47C14.46 11.136 13.9812 12 13.1958 12H1.80425C1.01881 12 0.539969 11.136 0.956249 10.47L6.652 1.3568Z"
        fill="#FFFEFE"
      />
    </svg>
    <span
      style="
        color: #fffefe;
        font-family: Poppins;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      "
    >
      +12%.06 than last month
    </span>
  </div>
</div>
