<div class="container">
  <div class="list">
    <div class="table-header">
      <div class="title">All Sales</div>
      <div class="search-export">
        <div class="search table-search">
          <label>
            <input type="text" placeholder="Search" />
            <span class="material-icons icon">search</span>
          </label>
        </div>
        <button class="btn-export">Export</button>
      </div>
      <div class="filters">
        <div class="sort-by">
          <select class="sort-by">
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
            <option value="name">Name</option>
            <option value="company">Company</option>
            <option value="city">City</option>
            <option value="product">Product</option>
            <option value="subscription">Subscription</option>
          </select>
        </div>
        <div class="sort-by">
          <select class="sort-by">
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
            <option value="name">Name</option>
            <option value="company">Company</option>
            <option value="city">City</option>
            <option value="product">Product</option>
            <option value="subscription">Subscription</option>
          </select>
        </div>
        <div class="sort-by">
          <select class="sort-by">
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
            <option value="name">Name</option>
            <option value="company">Company</option>
            <option value="city">City</option>
            <option value="product">Product</option>
            <option value="subscription">Subscription</option>
          </select>
        </div>
        <div class="sort-by">
          <select class="sort-by">
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
            <option value="name">Name</option>
            <option value="company">Company</option>
            <option value="city">City</option>
            <option value="product">Product</option>
            <option value="subscription">Subscription</option>
          </select>
        </div>
        <div class="sort-by">
          <select class="sort-by">
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
            <option value="name">Name</option>
            <option value="company">Company</option>
            <option value="city">City</option>
            <option value="product">Product</option>
            <option value="subscription">Subscription</option>
          </select>
        </div>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <td>ID Code</td>
          <td>Product Name</td>
          <td>Price</td>
          <td>Customer</td>
          <td>Date</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>4578</td>
          <td>Fabric sofa</td>
          <td>500 DT</td>
          <td>Jordan</td>
          <td>15/08/2023</td>
        </tr>
        <tr>
          <td>4578</td>
          <td>Fabric sofa</td>
          <td>500 DT</td>
          <td>Jordan</td>
          <td>15/08/2023</td>
        </tr>
        <tr>
          <td>4578</td>
          <td>Fabric sofa</td>
          <td>500 DT</td>
          <td>Jordan</td>
          <td>15/08/2023</td>
        </tr>
        <tr>
          <td>4578</td>
          <td>Fabric sofa</td>
          <td>500 DT</td>
          <td>Jordan</td>
          <td>15/08/2023</td>
        </tr>
        <tr>
          <td>4578</td>
          <td>Fabric sofa</td>
          <td>500 DT</td>
          <td>Jordan</td>
          <td>15/08/2023</td>
        </tr>
        <tr>
          <td>4578</td>
          <td>Fabric sofa</td>
          <td>500 DT</td>
          <td>Jordan</td>
          <td>15/08/2023</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
