<div class="list">
  <div class="details">
    <div class="table-header">
      <div class="item-count">
        <h2>{{ products.length }}</h2>
        Products
      </div>
      <div class="sort-by">
        <span>Sort By:</span>
        <select class="sort-by" [(ngModel)]="selectedSort">
          <option value="newest">Newest</option>
          <option value="oldest">Oldest</option>
          <option value="name">Name</option>
          <option value="company">Company</option>
          <option value="city">City</option>
          <option value="product">Product</option>
          <option value="subscription">Subscription</option>
        </select>
      </div>
      <div class="search table-search">
        <label>
          <input type="text" placeholder="Search" />
          <mat-icon
            class="icon"
            aria-label="Example home icon"
            fontIcon="search"
          >
          </mat-icon>
        </label>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <td>ID Code</td>
          <td>Product Name</td>
          <td>Supplier</td>
          <td>Price</td>
          <td>Company</td>
          <td>Status</td>
          <td>Reviews</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of products">
          <td>#{{ p.id }}</td>
          <td>{{ p.name }}</td>
          <td>{{ p.supplier }}</td>
          <td>{{ p.price | currency : "USD" }}</td>
          <td>{{ p.company }}</td>
          <td>{{ p.status }}</td>
          <td>{{ p.reviews }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
