<div class="left-section">
  <div class="left-content">
    <div class="next text">Next</div>
    <div class="title text">Revolution in Sales</div>
    <div class="description text">
      <div>Augmented reality</div>
      <div>Online payment</div>
      <div>Order tracking</div>
    </div>
    <div class="dots">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="133"
        height="132"
        viewBox="0 0 133 132"
        fill="none"
      >
        <circle
          cx="65.0717"
          cy="18.1121"
          r="7.5"
          transform="rotate(43.0682 65.0717 18.1121)"
          fill="#44566E"
        />
        <circle
          cx="97.4706"
          cy="97.6754"
          r="7.5"
          transform="rotate(43.0682 97.4706 97.6754)"
          fill="white"
        />
        <circle
          cx="60.8242"
          cy="59.9984"
          r="6"
          transform="rotate(43.0682 60.8242 59.9984)"
          fill="#23F800"
        />
        <circle
          cx="10.6006"
          cy="60.2774"
          r="7.5"
          transform="rotate(43.0682 10.6006 60.2774)"
          fill="#0057FF"
        />
      </svg>
    </div>
    <img
      class="logo"
      src="../../../assets/img/logo-white-horizontal-s.png"
      alt="logo instar"
    />
  </div>
</div>
