<div class="topbar">
  <div class="s">
    <!-- <div class="toggle">
      <mat-icon
        class="icon"
        aria-label="Example home icon"
        fontIcon="menu"
      ></mat-icon>
    </div> -->
    <div class="page-title">Dashboard</div>
  </div>

  <div class="search">
    <label>
      <input type="text" placeholder="Search" />
      <mat-icon class="icon" aria-label="Example home icon" fontIcon="search">
      </mat-icon>
    </label>
  </div>
  <div class="notif-area">
    <div class="msg">
      <mat-icon
        class="icon"
        aria-label="Example home icon"
        fontIcon="message"
      ></mat-icon>
    </div>
    <div class="notif">
      <mat-icon
        class="icon"
        aria-label="Example home icon"
        fontIcon="notifications"
      ></mat-icon>
    </div>
  </div>
</div>

<script>
  // add hovered class to selected list item
  let list = document.querySelectorAll(".navigation li");

  function activeLink() {
    list.forEach((item) => {
      item.classList.remove("hovered");
    });
    this.classList.add("hovered");
  }

  list.forEach((item) => item.addEventListener("mouseover", activeLink));

  //menu toggle

  let toggle = document.querySelector(".toggle");
  let navigation = document.querySelector(".navigation");
  let main = document.querySelector(".main");

  menuToggle.onclick = function () {
    toggle.classList.toggle("active");
    navigation.classList.toggle("active");
    main.classList.toggle("active");
  };
</script>
