<div class="navigation">
  <ul>
    <li>
      <span class="logo">
        <img src="../../assets/img/logo-white.png" alt="logo instar" />
      </span>
    </li>
    <li>
      <a routerLink="/dashboard">
        <mat-icon
          class="icon"
          aria-label="Example home icon"
          fontIcon="grid_view"
        ></mat-icon>
        <span class="title">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/stats">
        <mat-icon
          class="icon"
          aria-label="Example home icon"
          fontIcon="insights"
        ></mat-icon>

        <span class="title">Statistics</span>
      </a>
    </li>
    <li>
      <a routerLink="/users-list">
        <mat-icon
          class="icon"
          aria-label="Example home icon"
          fontIcon="people"
        ></mat-icon>
        <span class="title">Users List</span>
      </a>
    </li>
    <li>
      <a routerLink="/sales">
        <mat-icon
          class="icon"
          aria-label="Example home icon"
          fontIcon="real_estate_agent"
        ></mat-icon>
        <span class="title">Sales</span>
      </a>
    </li>
    <li>
      <a routerLink="/products-list">
        <mat-icon
          class="icon"
          aria-label="Example home icon"
          fontIcon="inventory_2"
        ></mat-icon>
        <span class="title">Products</span>
      </a>
    </li>
    <li>
      <a routerLink="/requests">
        <mat-icon
          class="icon"
          aria-label="Example home icon"
          fontIcon="sms"
        ></mat-icon>
        <span class="title">Requests</span>
      </a>
    </li>
    <li class="logout">
      <a routerLink="/login">
        <mat-icon
          class="icon"
          aria-label="Example home icon"
          fontIcon="logout"
        ></mat-icon>
        <span class="title">Log out</span>
      </a>
    </li>
  </ul>
</div>
