<div class="topbar">
  <!-- <div class="toggle">
        <mat-icon
          class="icon"
          aria-label="Example home icon"
          fontIcon="menu"
        ></mat-icon>
      </div> -->
  <div class="page-title">Dashboard</div>
  <div class="search">
    <label>
      <input type="text" placeholder="Search" />
      <mat-icon class="icon" aria-label="Example home icon" fontIcon="search">
      </mat-icon>
    </label>
  </div>
  <div class="notif-area">
    <div class="msg">
      <mat-icon
        class="icon"
        aria-label="Example home icon"
        fontIcon="message"
      ></mat-icon>
    </div>
    <div class="notif">
      <mat-icon
        class="icon"
        aria-label="Example home icon"
        fontIcon="notifications"
      ></mat-icon>
    </div>
  </div>
</div>
