<div class="stats-container">
  <!-- left row -->

  <div class="left-row">
    <div class="conversion card">
      <div class="small-box">
        <div class="sub-box">
          <div class="title-box">
            <div class="cardName">{{ user.firstname }} {{ user.lastname }}</div>
            <div class="period">{{ user.email }}</div>
          </div>
          <div class="more-button">
            <mat-icon class="icon" fontIcon="more_vert"> </mat-icon>
          </div>
        </div>
        <div class="sub-box perc">
          <div class="numbers">
            <div class="percentage">Product {{ user.product }}</div>
          </div>
          <div class="conversion-Chart">
            <canvas id="conversionChart"></canvas>
          </div>
        </div>
      </div>
      <div class="small-box">city: {{ user.city }}</div>
    </div>

    <!-- total income -->

    <div class="medium-column card">
      <div class="medium-box">
        <div class="sub-box">
          <div class="title-box">
            <div class="cardName">Total Income</div>
            <div class="period">Yearly report overview</div>
          </div>
          <div class="more-button">
            <mat-icon class="icon" fontIcon="more_vert"> </mat-icon>
          </div>
        </div>
        <div class="yearly-income-chart">
          <canvas id="yearlyIncomeChart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- right row -->

  <div class="right-row">
    <!-- conversion -->

    <div class="conversion card">
      <div class="sub-box">
        <div class="title-box">
          <div class="percentage">Best selling product</div>
        </div>
        <div class="more-button">
          <mat-icon class="icon" fontIcon="more_vert"> </mat-icon>
        </div>
      </div>
      <div class="sub-box perc">
        <img src="../../assets/img/products/chair1.png" alt="" />
      </div>
    </div>

    <!-- cards grid -->

    <div class="card">
      <div class="sub-box" style="flex-direction: column">
        <div class="percentage">Total Income</div>
        <div class="percentage" style="color: #676768">120,956 .051 Dt</div>
      </div>
      <div class="chart"></div>
      <div class="period" style="text-align: right">Last week</div>
    </div>
  </div>
</div>
